<section #modalGreeting>
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <div class="input-block input-block_keyword">
      <input
        formControlName="searchKeyword"
        type="text"
        class="input inp-word"
        placeholder="Search by title..."
      >
    </div>
    <div class="input-block input-block_submit">
      <input type="submit" class="input inp-search btn btn_orange" value='Search'>
    </div>
  </form>
  <div class="favorite-block">
    <button class="input btn btn_orange"
      (click)="dataService.showFavorite = !dataService.showFavorite"
    >{{(dataService.showFavorite) ? '🔙 Back to all collection' : '🌟 Show Favorite'}}</button>
  </div>

  <!-- Loading -->
  <ng-template [ngIf]="!dataService.showFavorite && !dataService.isArtCollectionLoaded">
    <div class="tiles-container">
      <div
        *ngForWithNumbers="12"
        class="tile tile_pulse border-gray"
      >
        <div class="spinner spinner_no-shift"></div>
      </div>
    </div>
  </ng-template>

  <!-- Favorite -->
  <ng-template [ngIf]="dataService.showFavorite">
    <div class="tiles-container">
      <div
        *ngFor="let favoriteArtObject of dataService.favoriteArtCollection"
        class="tile border-gray"
        [ngClass]="{'not-image': !(dataService.getImageById(favoriteArtObject.artObject.id, 500) | async)}"
        [ngStyle]="{'background-image': 'url(' + ((dataService.getImageById(favoriteArtObject.artObject.id, 500) | async) || '') + ')'}"
        [routerLink]="['/', 'popup',  favoriteArtObject.artObject.objectNumber]"
      >
        <div class="tile__popup-text">
          {{favoriteArtObject.artObject.longTitle}}
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Everything OK -->
  <ng-template [ngIf]="
  !dataService.showFavorite &&
  dataService.isArtCollectionLoaded &&
  dataService.artCollection?.artObjects?.length > 0">
    <div class="tiles-container">
      <div
        *ngFor="let artObject of dataService.artObjects"
        class="tile border-gray"
        [ngClass]="{'not-image': !(dataService.getImageById(artObject.id, 500) | async)}"
        [ngStyle]="{'background-image': 'url(' + ((dataService.getImageById(artObject.id, 500) | async) || '') + ')'}"
        [routerLink]="['/', 'popup',  artObject.objectNumber]"
      >
        <div class="tile__popup-text">
          {{artObject.longTitle}}
        </div>
      </div>
    </div>
  </ng-template>

  <!-- wrong query -->
  <ng-template [ngIf]="
  !dataService.showFavorite &&
  dataService.isArtCollectionLoaded &&
  (dataService.artCollection?.artObjects?.length || 0) <= 0">
    <div class="tiles-container tiles-container_empty">
      <p>No art object could be found by your query.</p>
      <p>Try other query</p>
    </div>
  </ng-template>

  <!-- No favorite -->
  <ng-template [ngIf]="
  dataService.showFavorite &&
  dataService.favoriteArtCollection.length <= 0">
    <div class="tiles-container tiles-container_empty">
      <p>You have no art object in your favorite collection yet.</p>
      <p>Let's add some =)</p>
    </div>
  </ng-template>

  <nav
    class="pagination"
    *ngIf="!dataService.showFavorite
           && (dataService.artCollection && dataService.artCollection.artObjects.length > 0)"
    aria-label="Collection pagination"
  >
    <button
      type="button"
      class="pagination__pill pagination__pill_prev"
      [disabled]="!paginationService.hasPrev()"
      (click)="paginationService.goPrev()"
      aria-label="Previous page"
    >
      <img src="assets/arrow-next.svg" alt="">
    </button>

    <div class="pagination__chip" aria-live="polite">
      <span class="pagination__page">
        Page {{ paginationService.currentState.currentPageNumber }}
        <ng-container *ngIf="paginationService.totalPages > 0">
          / {{ paginationService.totalPages | number }}
        </ng-container>
      </span>
      <span class="pagination__total"
            *ngIf="paginationService.currentState.totalItems > 0">
        {{ paginationService.currentState.totalItems | number }} works
      </span>
    </div>

    <button
      type="button"
      class="pagination__pill pagination__pill_next"
      [disabled]="!paginationService.hasNext()"
      (click)="paginationService.goNext()"
      aria-label="Next page"
    >
      <img src="assets/arrow-next.svg" alt="">
    </button>
  </nav>

</section>


<router-outlet></router-outlet>
