<div class="container">

  <div
    class="cross"
    (click)="close.emit()"
    [ngStyle]="{'background-image': 'url(assets/cross.svg)'}"
  ></div>

  <div class="logo">
    <img src="assets/greeting_logo.svg" alt="Hello!"/>
  </div>
  <div class="title">I greet you!</div>
  <div class="details">
    <p>This is a test application to show you my capabilities in Angular 9.</p>
    <p>The application takes information from the database of one famous museum - Rijksmuseum (Netherlands).
      There are many unique art objects from different centuries.
      This application gives you the opportunity to view the list of museum art objects, more detailed information about it, and adding your favorite art objects in favorite list.</p>
    <p>Also in the application, a keyword search is available (try to enter, for example, the word "war" in the search), data sorting is also present.</p>
    <p>You can also see the source code of this project on your gitHub account at the link below, there is a detailed description and a few interesting links!</p>
    <p>
      <a href="https://github.com/RenJeka/Rijksmuseum">Link to project on GitHub!</a>
    </p>

    <p >Have a good travel in my app!</p>
    <p class="copyright">© All rights reserved by RenJeka</p>
  </div>
  <div class="control-block control-block_center">
    <button
      class="input btn"
      (click)="close.emit()"
    >Close</button>
  </div>
</div>

