@import "variables";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bgColorOverlay;
  -webkit-backdrop-filter: blur($backdropFilterBlur);
  backdrop-filter: blur($backdropFilterBlur);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background: #fff;
  padding: 15px 30px;
  border-radius: 15px;
}


.logo {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 50%;
  opacity: 0.1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;

  height: 200px;
  object-position: center;
}

.title {
  z-index: 10;
  width: 100%;
  margin: 15px 0;
  padding: 0 40px;
  align-self: center;
  font-family: Verdana, Helvetica, "Times New Roman";
  font-size: 35px;
  font-weight: bold;
  word-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.details {
  //margin: 0 -#{$tileSideMargin};
  //padding: 25px;
  font-size: 26px;
  text-indent: 30px;
  text-align: justify;
  z-index: 10;

  p {
    margin-top: 30px;
  }

  a {
    color: #11669e;
    text-decoration: underline;

    &:hover {
      filter: brightness(1.5);
    }
    &:active {
      filter: brightness(1);
    }
  }
}
.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-image: url('~src/assets/cross.svg');
  cursor: pointer;
  z-index: 15;
}

button {
  width: 200px;
  height: 45px;
  font-size: 16px;
  z-index: 10;

  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(1);
  }
}

.copyright {
  text-align: right;
  font-size: 16px;
}

@media screen and (max-width: $bodyWidthLimit) {
  .container {
    width: 70%;

    .title {
       font-size: 24px;
    }

    .details {
      font-size: 20px;
    }

    .cross {
      width: 30px;
      height: 30px;
    }
  }

}

@media screen and (max-width: 700px) {

  .container {
    padding: 0;

    .title {
      font-size: 16px;
    }

    .details {
      font-size: 16px;
      margin: 0;
      padding: 15px;
    }

    .cross {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  button {
    width: 75%;
  }

  .details {
    font-size: 20px;
  }

  .cross {
    top: 10px;
    right: 10px;
  }
}

